/* Webfont: CharterBT-Italic */@font-face {
    font-family: 'BitstreamCharter';
    src: url('CharterBT-Italic.eot'); /* IE9 Compat Modes */
    src: url('CharterBT-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('CharterBT-Italic.woff') format('woff'), /* Modern Browsers */
         url('CharterBT-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('CharterBT-Italic.svg#CharterBT-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

