/* Webfont: Courier10PitchBT-Bold */@font-face {
    font-family: 'Courier10Pitch';
    src: url('Courier10PitchBT-Bold.eot'); /* IE9 Compat Modes */
    src: url('Courier10PitchBT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Courier10PitchBT-Bold.woff') format('woff'), /* Modern Browsers */
         url('Courier10PitchBT-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Courier10PitchBT-Bold.svg#Courier10PitchBT-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

