/* Webfont: LuxiSerif-BoldOblique */@font-face {
    font-family: 'LuxiSerif';
    src: url('LuxiSerif-BoldOblique.eot'); /* IE9 Compat Modes */
    src: url('LuxiSerif-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LuxiSerif-BoldOblique.woff') format('woff'), /* Modern Browsers */
         url('LuxiSerif-BoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LuxiSerif-BoldOblique.svg#LuxiSerif-BoldOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

