/* Webfont: LuxiSans-BoldOblique */@font-face {
    font-family: 'LuxiSans';
    src: url('LuxiSans-BoldOblique.eot'); /* IE9 Compat Modes */
    src: url('LuxiSans-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LuxiSans-BoldOblique.woff') format('woff'), /* Modern Browsers */
         url('LuxiSans-BoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LuxiSans-BoldOblique.svg#LuxiSans-BoldOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

