/* Webfont: Utopia-BoldItalic */@font-face {
    font-family: 'Utopia';
    src: url('Utopia-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Utopia-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Utopia-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Utopia-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Utopia-BoldItalic.svg#Utopia-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

